.csc__header-container {
    background: #940653;
    padding-left: 10%;
    padding-bottom: 85px;    
}

.csc__header-container-content {
    display: grid;
}

.csc__header-container-content h1 {
    padding-top: 185px;
    font-family: var(--font-condensed);
    color: #fff;
    text-align: left;
    font-size: 40px;
    line-height: normal;
    font-weight: 700;
}

.csc__header-container-content button {
    width: 98px;
    height: 40px;
    background: #EC8523;
    font-family: var(--font-condensed);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    border-radius: 18px;
    border-style: none;   
    cursor: pointer; 
}

.csc__header-container-content button:hover {
    transform: scale(1.02);
}

.csc__navbar-links-logo img {    
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
    border: 5px solid #EC8523;
    background-color: #fff;
    padding: 20px;
    margin-top: -100px;
}

.csc__navbar-links-logo:hover {
    margin-top: 1rem;
    filter: drop-shadow(0px 7px 9px #EC8523);
}